---
import Layout from '../layouts/Plain.astro';
---

<Layout title="Build Blazor web apps fast">
	<main class="text-center flex flex-col justify-center pt-16 pb-60">
		<section class="py-8 sm:py-16 lg:py-32 flex flex-col px-6 sm:px-8 container mx-auto max-w-3xl">
            <h2 class="text-4xl sm:text-6xl font-extrabold text-gray-800 pt-6 md:pt-12 text-center">
                Your subscribed!
            </h2>
        </section>
    </main>
</Layout>