---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Build Blazor web apps fast">
	<main class="text-center flex flex-col h-screen justify-center items-center bg-gradient-to-r from-[#608CF9] to-[#AC48FE] px-2">
		<h1 class="font-bold text-5xl font-title tracking-tight md:text-7xl max-w-2xl mx-auto text-white">The .NET Blazor Framework for <span class="text-yellow-300">Makers</span></h1>
		<p class="text-xl sm:text-2xl text-gray-50 max-w-2xl text-center mt-8 leading-loose sm:leading-loose">
			Blazor Spark picks up where Blazor Server leaves off. Build production ready, full-stack web applications fast.
		</p>
		<a href="/docs/installation" class="mt-8 text-xl px-8 py-3 bg-black text-white font-medium rounded-md hover:bg-gray-800">Get Started</a>
	</main>
</Layout>
