---
import Layout from '../layouts/Layout.astro';
---

<Layout title="The .NET Web Framework for Makers">
	<main class="text-center flex flex-col justify-center pt-16">
		<section class="py-8 sm:py-16 lg:py-32 flex flex-col gap-y-6 sm:gap-y-12 px-6 sm:px-8 container mx-auto">
			<h1 class="text-5xl sm:text-7xl font-bold max-w-4xl mx-auto text-gray-800 text-left sm:text-center">The .NET Web Framework for <span class="text-yellow-400">Makers</span></h1>
			<p class="text-xl sm:text-2xl text-gray-500 max-w-3xl text-left sm:text-center mx-auto leading-loose sm:leading-loose">
				Build production ready, full-stack web applications fast with Blazor and ASP.NET.
			</p>
			<div class="flex flex-col sm:flex-row justify-center items-center gap-x-8">
				<a href="/docs/introduction" class="w-full sm:w-fit text-xl px-8 py-3 bg-gradient-to-r from-[#608CF9] to-[#AC48FE] text-white font-medium rounded-md hover:bg-gray-800">
					Documentation
				</a>
				<a href="#install" class="mt-6 sm:mt-0 text-xl text-gray-500 hover:text-gray-800 px-8 py-3 border border-gray-500 hover:border-gray-800 rounded-md">
					Install Spark
				</a>
			</div>
			<iframe src="https://www.youtube.com/embed/5-2ZGeN_vCs" title="YouTube video player" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen style="aspect-ratio: 16 / 9;width: 100%;" class="max-w-6xl mt-10 mx-auto"></iframe>
		</section>
		<section class="py-8 sm:py-16 lg:py-32 bg-gray-900 px-6 sm:px-8">
			<div class="max-w-4xl mx-auto text-white text-left">
				<div class="flex flex-col gap-y-6 sm:gap-y-12">
					<h2 id="install" class="text-4xl sm:text-5xl text-white font-bold max-w-lg">
						Get started in under a minute
					</h2>
					<h3 class="text-3xl text-white font-bold max-w-lg">
						1. Install Spark's CLI
					</h3>
					<code class="relative font-mono text-white flex flex-col items-start text-base sm:text-2xl bg-gray-800 px-4 pt-8 pb-4 sm:px-6 sm:pt-12 sm:pb-6 rounded-lg">
						<div class="absolute top-4 left-4 sm:top-6 sm:left-6 rounded-full h-4 w-4 sm:h-6 sm:w-6 bg-red-400"></div>
						<div class="absolute top-4 left-10 sm:top-6 sm:left-14 rounded-full h-4 w-4 sm:h-6 sm:w-6 bg-yellow-400"></div>
						<div class="absolute top-4 left-16 sm:top-6 sm:left-[5.5rem] rounded-full h-4 w-4 sm:h-6 sm:w-6 bg-green-400"></div>
						<p class="my-4 sm:my-6"><span class="">C:\code&#62;</span> dotnet tool install --global Spark.CLI</p>
						<p class=""><span class="">C:\code&#62;</span> spark install</p>
					</code>
					<h3 class="text-3xl text-white font-bold max-w-lg">
						2. Create your first project
					</h3>
					<div  x-data="{ projectType: 'blazor' }">
						<div class="inline-flex space-x-2 pl-4">
							<div @click="projectType = 'blazor'" class="p-2 rounded-t cursor-pointer hover:bg-gray-700 transition" :class="{ 'bg-gray-700': projectType == 'blazor' }">Blazor</div>
							<div @click="projectType = 'api'" class="p-2 rounded-t cursor-pointer hover:bg-gray-700 transition" :class="{ 'bg-gray-700': projectType == 'api' }">Api</div>
						</div>
						<div x-show="projectType == 'blazor'">
							<code class="relative font-mono text-white flex flex-col items-start text-base sm:text-2xl bg-gray-800 px-4 pt-8 pb-4 sm:px-6 sm:pt-12 sm:pb-6 rounded-lg">
								<div class="absolute top-4 left-4 sm:top-6 sm:left-6 rounded-full h-4 w-4 sm:h-6 sm:w-6 bg-red-400"></div>
								<div class="absolute top-4 left-10 sm:top-6 sm:left-14 rounded-full h-4 w-4 sm:h-6 sm:w-6 bg-yellow-400"></div>
								<div class="absolute top-4 left-16 sm:top-6 sm:left-[5.5rem] rounded-full h-4 w-4 sm:h-6 sm:w-6 bg-green-400"></div>
								<p class="mt-4 sm:mt-6"><span class="">C:\code&#62;</span> spark new MyApp</p>
							</code>
						</div>
						<div x-show="projectType == 'api'">
							<code class="relative font-mono text-white flex flex-col items-start text-base sm:text-2xl bg-gray-800 px-4 pt-8 pb-4 sm:px-6 sm:pt-12 sm:pb-6 rounded-lg">
								<div class="absolute top-4 left-4 sm:top-6 sm:left-6 rounded-full h-4 w-4 sm:h-6 sm:w-6 bg-red-400"></div>
								<div class="absolute top-4 left-10 sm:top-6 sm:left-14 rounded-full h-4 w-4 sm:h-6 sm:w-6 bg-yellow-400"></div>
								<div class="absolute top-4 left-16 sm:top-6 sm:left-[5.5rem] rounded-full h-4 w-4 sm:h-6 sm:w-6 bg-green-400"></div>
								<p class="mt-4 sm:mt-6"><span class="">C:\code&#62;</span> spark new MyApp -t api</p>
							</code>
						</div>
					</div>
					<p class="text-xl sm:text-2xl leading-loose sm:leading-loose max-w-2xl">
						You now have a full stack ASP.NET app with authentication, authorization, database, mail, scheduled jobs, and lots more! 
					</p>
				</div>
			</div>
		</section>
		<section class="py-8 sm:py-16 lg:py-32 flex flex-col px-6 sm:px-8 container mx-auto max-w-5xl">
			<h2 class="text-5xl sm:text-7xl font-bold mx-auto text-gray-800">
				Why Use Spark?
			</h2>
			<div>
				<h2 class="text-4xl sm:text-6xl whitespace-pre-line font-extrabold text-gray-800 pt-12 md:pt-24 text-left max-w-lg">
					Convention over Configuration
				</h2>
				<p class="text-xl sm:text-2xl leading-relaxed sm:leading-relaxed text-gray-500 lg:col-end-8 pt-4 sm:pt-8 text-left max-w-2xl">
					Spark embraces convention, freeing developers to build instead of deliberating mundane details.
				</p>
				<div class="mt-8">
					<img class="block w-full h-auto -ml-4 max-w-3xl" src="/convention-editor.png" alt="Spark app folders" />
				</div>
			</div>
			<div>
				<h2 class="text-4xl sm:text-6xl whitespace-pre-line font-extrabold text-gray-800 pt-12 md:pt-24 text-left max-w-lg">
					Don't sweat the small stuff
				</h2>
				<p class="text-xl sm:text-2xl leading-relaxed sm:leading-relaxed text-gray-500 lg:col-end-8 pt-4 sm:pt-8 text-left max-w-2xl">
					Spark comes with features like auth, mail, and logging already setup. Freeing you to create without sweating the small things.
				</p>
				<div class="mt-8">
					<img class="block w-full h-auto -ml-4 max-w-3xl" src="/auth-editor.png" alt="Spark authentication code" />
				</div>
			</div>
			<div>
				<h2 class="text-4xl sm:text-6xl whitespace-pre-line font-extrabold text-gray-800 pt-12 md:pt-24 text-left max-w-2xl">
					Enjoyable Developer Experience
				</h2>
				<p class="text-xl sm:text-2xl leading-relaxed sm:leading-relaxed text-gray-500 lg:col-end-8 pt-4 sm:pt-8 text-left max-w-2xl">
					A happy developer is a productive developer. Our CLI helps you make applications, run migrations, and generate classes. 
				</p>
				<div class="mt-8">
					<img class="block w-full h-auto -ml-4 max-w-3xl" src="/cli-editor.png" alt="Spark mailable cli command" />
				</div>
			</div>
		</section>
	</main>
</Layout>
