---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Build Blazor web apps fast">
	<main class="text-center flex flex-col justify-center pt-16 pb-60">
		<section class="py-8 sm:py-16 lg:py-32 flex flex-col px-6 sm:px-8 container mx-auto max-w-3xl">
            <h2 class="text-4xl sm:text-6xl font-extrabold text-gray-800 pt-6 md:pt-12 text-left max-w-lg">
                Blazor Spark News
            </h2>
            <p class="text-xl sm:text-2xl leading-relaxed sm:leading-relaxed text-gray-500 py-4 sm:py-8 text-left max-w-2xl">
                Stay up to date on new releases, features, and all the goodies were bringing to .NET web development.
            </p>
            <script async data-uid="f7de9c29ed" src="https://fabulous-inventor-6805.ck.page/f7de9c29ed/index.js"></script>
        </section>
    </main>
</Layout>

<style is:global>
.formkit-powered-by-convertkit-container {
    display: none !important;
}
.formkit-field {
    margin: 0 !important;
}
.formkit-form[data-uid="f7de9c29ed"][min-width~="700"] [data-style="clean"], .formkit-form[data-uid="f7de9c29ed"][min-width~="800"] [data-style="clean"] {
    padding: 0px !important;
}
</style>