---
import Layout from "../layouts/Plain.astro";
---

<Layout title="Open Source Friends">
  <main class="text-center flex flex-col justify-center pt-16">
    <div class="px-4 py-20 text-center sm:px-6 lg:px-8 lg:py-28">
      <h1
        class="text-3xl font-bold tracking-tight text-slate-800 dark:text-slate-200 sm:text-4xl md:text-5xl"
      >
        <span class="xl:inline">Our</span>
        <span class="text-yellow-400 xl:inline">Open-source</span>
        <span class="inline">Friends</span>
      </h1><p
        class="mx-auto mt-3 max-w-md text-base text-slate-500 dark:text-slate-300 sm:text-lg md:mt-5 md:max-w-2xl md:text-xl"
      >
      </p><div class="mx-auto mt-5 max-w-md sm:flex sm:justify-center md:mt-8">
      </div>
    </div>
    <div
      class="m-4 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3 max-w-6xl mx-auto"
    >
      <div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://www.appsmith.com" class="mb-2 text-xl font-bold"
          >Appsmith</a
        >
        <p class="mt-4 text-sm text-gray-700">
          Build build custom software on top of your data.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://www.appsmith.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://boxyhq.com" class="mb-2 text-xl font-bold">BoxyHQ</a><p
          class="mt-4 text-sm text-gray-700"
        >
          BoxyHQ’s suite of APIs for security and privacy helps engineering
          teams build and ship compliant cloud applications faster.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://boxyhq.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://cal.com" class="mb-2 text-xl font-bold">Cal.com</a><p
          class="mt-4 text-sm text-gray-700"
        >
          Cal.com is a scheduling tool that helps you schedule meetings without
          the back-and-forth emails.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://cal.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://www.crowd.dev" class="mb-2 text-xl font-bold"
          >Crowd.dev</a
        ><p class="mt-4 text-sm text-gray-700">
          Centralize community, product, and customer data to understand which
          companies are engaging with your open source project.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://www.crowd.dev"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://documenso.com" class="mb-2 text-xl font-bold"
          >Documenso</a
        ><p class="mt-4 text-sm text-gray-700">
          The Open-Source DocuSign Alternative. We aim to earn your trust by
          enabling you to self-host the platform and examine its inner workings.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://documenso.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://erxes.io" class="mb-2 text-xl font-bold">Erxes</a><p
          class="mt-4 text-sm text-gray-700"
        >
          The Open-Source HubSpot Alternative. A single XOS enables to create
          unique and life-changing experiences that work for all types of
          business.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://erxes.io"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://formbricks.com" class="mb-2 text-xl font-bold"
          >Formbricks</a
        ><p class="mt-4 text-sm text-gray-700">
          Survey granular user segments at any point in the user journey. Gather
          up to 6x more insights with targeted micro-surveys. All open-source.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://formbricks.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://ghostfol.io" class="mb-2 text-xl font-bold"
          >Ghostfolio</a
        ><p class="mt-4 text-sm text-gray-700">
          Ghostfolio is a privacy-first, open source dashboard for your personal
          finances. Designed to simplify asset tracking and empower informed
          investment decisions.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://ghostfol.io"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://gitwonk.com" class="mb-2 text-xl font-bold">GitWonk</a
        ><p class="mt-4 text-sm text-gray-700">
          GitWonk is an open-source technical documentation tool, designed and
          built focusing on the developer experience.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://gitwonk.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://www.hanko.io" class="mb-2 text-xl font-bold">Hanko</a
        ><p class="mt-4 text-sm text-gray-700">
          Open-source authentication and user management for the passkey era.
          Integrated in minutes, for web and mobile apps.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://www.hanko.io"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://htmx.org" class="mb-2 text-xl font-bold">HTMX</a><p
          class="mt-4 text-sm text-gray-700"
        >
          HTMX is a dependency-free JavaScript library that allows you to access
          AJAX, CSS Transitions, WebSockets, and Server Sent Events directly in
          HTML.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://htmx.org"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://infisical.com" class="mb-2 text-xl font-bold"
          >Infisical</a
        ><p class="mt-4 text-sm text-gray-700">
          Open source, end-to-end encrypted platform that lets you securely
          manage secrets and configs across your team, devices, and
          infrastructure.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://infisical.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://mockoon.com" class="mb-2 text-xl font-bold">Mockoon</a
        ><p class="mt-4 text-sm text-gray-700">
          Mockoon is the easiest and quickest way to design and run mock REST
          APIs.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://mockoon.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://novu.co" class="mb-2 text-xl font-bold">Novu</a><p
          class="mt-4 text-sm text-gray-700"
        >
          The open-source notification infrastructure for developers. Simple
          components and APIs for managing all communication channels in one
          place.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://novu.co"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://openbb.co" class="mb-2 text-xl font-bold">OpenBB</a><p
          class="mt-4 text-sm text-gray-700"
        >
          Democratizing investment research through an open source financial
          ecosystem. The OpenBB Terminal allows everyone to perform investment
          research, from everywhere.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://openbb.co"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://www.sniffnet.net" class="mb-2 text-xl font-bold"
          >Sniffnet</a
        ><p class="mt-4 text-sm text-gray-700">
          Sniffnet is a network monitoring tool to help you easily keep track of
          your Internet traffic.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://www.sniffnet.net"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://tolgee.io/" class="mb-2 text-xl font-bold">Tolgee</a><p
          class="mt-4 text-sm text-gray-700"
        >
          Software localization from A to Z made really easy.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://tolgee.io/"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://trigger.dev" class="mb-2 text-xl font-bold"
          >Trigger.dev</a
        ><p class="mt-4 text-sm text-gray-700">
          Create long-running Jobs directly in your codebase with features like
          API integrations, webhooks, scheduling and delays.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://trigger.dev"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://typebot.io" class="mb-2 text-xl font-bold">Typebot</a
        ><p class="mt-4 text-sm text-gray-700">
          Typebot gives you powerful blocks to create unique chat experiences.
          Embed them anywhere on your apps and start collecting results like
          magic.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://typebot.io"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://twenty.com" class="mb-2 text-xl font-bold">Twenty</a><p
          class="mt-4 text-sm text-gray-700"
        >
          A modern CRM offering the flexibility of open-source, advanced
          features and sleek design.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://twenty.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://www.webiny.com" class="mb-2 text-xl font-bold"
          >Webiny</a
        ><p class="mt-4 text-sm text-gray-700">
          Open-source enterprise-grade serverless CMS. Own your data. Scale
          effortlessly. Customize everything.
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://www.webiny.com"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div><div class="overflow-hidden rounded bg-slate-100 p-6 shadow-md">
        <a href="https://webstudio.is" class="mb-2 text-xl font-bold"
          >Webstudio</a
        ><p class="mt-4 text-sm text-gray-700">
          Webstudio is an open source alternative to Webflow
        </p>
        <div class="mt-4">
          <a
            target="_blank"
            href="https://webstudio.is"
            class="px-3 py-2 text-white bg-black rounded"
          >
            Learn more
          </a>
        </div>
      </div>
    </div>
  </main>
</Layout>
