<footer class="py-6 md:py-12 xl:py-16 mt-8">
    <div class="container mx-auto px-6 sm:px-8">
        <nav class="relative grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
            <a class="absolute right-0" href="/">
                <img class="w-6 h-auto" src="/logo.png" alt="Spark.NET Logo" />
            </a>
            <ul class="flex flex-col mb-2">
                <li>
                    <h6 class="text-gray-500 uppercase text-sm mb-4">Site</h6>
                </li>
                <li class="mb-4 sm:mr-4 text-left">
                    <a class="text-gray-700 hover:text-gray-800" href="/">Home</a>
                </li>
            </ul>
            <ul class="flex flex-col mb-2">
                <li>
                    <h6 class="text-gray-500 uppercase text-sm mb-4">Documentation</h6>
                </li>
                <li class="mb-4 sm:mr-4 text-left">
                    <a class="text-gray-700 hover:text-gray-800" href="/docs/introduction">
                        Get Started
                    </a>
                </li>
                <li class="mb-4 sm:mr-4 text-left">
                    <a class="text-gray-700 hover:text-gray-800" href="/docs/configuration">
                        The Basics
                    </a>
                </li>
                <li class="mb-4 sm:mr-4 text-left">
                    <a class="text-gray-700 hover:text-gray-800" href="/docs/spark-tutorial">
                        Tutorial
                    </a>
                </li>
            </ul>
            <ul class="flex flex-col mb-2">
                <li>
                    <h6 class="text-gray-500 uppercase text-sm mb-4">Resources</h6>
                </li>
                <li class="mb-4 sm:mr-4 text-left">
                    <a class="text-gray-700 hover:text-gray-800" target="_blank" rel="noopener noreferrer"
                        href="https://dotnet-jobs.com">
                        .NET Jobs
                    </a>
                </li>
            </ul>
            <ul class="flex flex-col mb-2">
                <li>
                    <h6 class="text-gray-500 uppercase text-sm mb-4">Social</h6>
                </li>
                <li class="mb-4 sm:mr-4 text-left">
                    <a href="https://github.com/blazor-spark" class="text-gray-700 hover:text-gray-800" target="_blank" rel="noopener noreferrer">
                        Github
                    </a>
                </li>
                <li class="mb-4 sm:mr-4 text-left">
                    <a href="https://twitter.com/wes_walke" class="text-gray-700 hover:text-gray-800" target="_blank" rel="noopener noreferrer">
                        Twitter
                    </a>
                </li>
                <li class="mb-4 sm:mr-4 text-left">
                    <a href="https://www.youtube.com/@blazor-spark" class="text-gray-700 hover:text-gray-800" target="_blank" rel="noopener noreferrer">
                        Youtube
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
