<footer class="pt-24 pb-6">
    <div class="container mx-auto px-6 sm:px-8">
        <nav class="flex flex-col sm:flex-row justify-between space-y-8 sm:space-y-0">
            <div class="flex flex-col mb-2 space-y-4">
                <h6 class="text-gray-400">Site</h6>
                <a class="text-gray-700" href="/">Home</a>
                <a class="text-gray-700" href="/docs/introduction">Docs</a>
            </div>
            <div class="flex flex-col mb-2 space-y-4">
                <h6 class="text-gray-400">Documentation</h6>
                <a class="text-gray-700" href="/docs/introduction">
                    Get Started
                </a>
                <a class="text-gray-700" href="/docs/configuration">
                    The Basics
                </a>
                <a class="text-gray-700" href="/docs/spark-tutorial">
                    Tutorial
                </a>
            </div>
            <div class="flex flex-col mb-2 space-y-4">
                <h6 class="text-gray-400">Ecosystem</h6>
                <a class="text-gray-700" target="_blank" rel="noopener noreferrer"
                    href="https://dotnetengine.com">
                    Dotnet Engine
                </a>
                <a class="text-gray-700" target="_blank"
                    href="https://ui.spark-framework.net/">
                    spark.ui
                </a>
                <a class="text-gray-700" target="_blank" rel="noopener noreferrer"
                    href="https://dotnet-jobs.com">
                    .NET Jobs
                </a>
                <a class="text-gray-700"
                    href="/oss-friends">
                    OSS Friends
                </a>
            </div>
            <div class="flex flex-col mb-2 space-y-4">
                <h6 class="text-gray-400">Social</h6>
                <a href="https://github.com/spark-dotnet" class="text-gray-700" target="_blank" rel="noopener noreferrer">
                    Github
                </a>
                <a href="https://twitter.com/wes_walke" class="text-gray-700" target="_blank" rel="noopener noreferrer">
                    Twitter
                </a>
                <a href="https://www.youtube.com/@sparkdotnet" class="text-gray-700" target="_blank" rel="noopener noreferrer">
                    Youtube
                </a>
                <a href="https://discord.gg/TyxmQgvtDw" class="text-gray-700" target="_blank" rel="noopener noreferrer">
                    Discord
                </a>
            </div>
        </nav>
    </div>
</footer>
