<nav class="absolute top-0 left-0 w-full">
    <div class="flex justify-between w-full px-6 py-4 max-w-6xl mx-auto">
        <a class="inline-flex items-center" href="/">
            <div class="p-1 bg-yellow-400 rounded-lg mr-2">
                <svg xmlns="http://www.w3.org/2000/svg"  class="w-6 h-auto text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"/></svg>
            </div>
            <h3 class="text-xl font-medium text-gray-700 hidden sm:block">Spark.NET</h3>
        </a>
        <div class="inline-flex items-center">
            <a href="/docs/introduction" class="text-sm sm:text-lg text-gray-700 font-medium mr-3 sm:mr-8 rounded-lg hover:text-gray-800 transition-colors ease-in-out duration-150 block">
                Docs
            </a>
            <button x-on:click="desktopMenuOpen = true" type="button" class="z-20 relative text-sm sm:text-lg text-gray-700 font-medium mr-3 sm:mr-8 rounded-lg hover:text-gray-800 transition-colors ease-in-out duration-150 inline-flex items-center"
                x-data="{ desktopMenuOpen: false, mobileMenuOpen: false }">
                Ecosystem
                <svg xmlns="http://www.w3.org/2000/svg" class="w-3 h-3 ml-2" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                </svg>
                <div class="absolute top-10 -right-28 rounded shadow border bg-white w-60 sm:w-72 text-left"
                    x-cloak x-on:click.outside="desktopMenuOpen = false" x-show="desktopMenuOpen">
                    <ul class="w-full">
                        <li class="hover:bg-gray-50 py-3 px-4">
                            <a href="http://ui.spark-framework.net" class="flex" target="_blank">
                                <div class="">
                                    <div class="p-1 bg-black rounded-lg mr-2 w-8 h-8 flex items-center justify-center">
                                        <span class="text-white text-lg font-bold">UI</span>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-sm text-gray-800 font-bold mb-0.5">spark.ui</p>
                                    <p class="text-xs text-gray-500">Beautiful Blazor components</p>
                                </div>
                            </a>
                        </li>
                        <li class="hover:bg-gray-50 py-3 px-4">
                            <a href="https://dotnet-jobs.com" class="flex" target="_blank">
                                <div class="">
                                    <div class="p-1 bg-red-500 rounded-lg mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-auto text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m19 5 3-3" /><path d="m2 22 3-3" /><path d="M6.3 20.3a2.4 2.4 0 0 0 3.4 0L12 18l-6-6-2.3 2.3a2.4 2.4 0 0 0 0 3.4Z" /><path d="M7.5 13.5 10 11" /><path d="M10.5 16.5 13 14" /><path d="m12 6 6 6 2.3-2.3a2.4 2.4 0 0 0 0-3.4l-2.6-2.6a2.4 2.4 0 0 0-3.4 0Z" /></svg>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-sm text-gray-800 font-bold mb-0.5">Dotnet Jobs</p>
                                    <p class="text-xs text-gray-500">Find & post .NET developer jobs.</p>
                                </div>
                            </a>
                        </li>
                        <li class="hover:bg-gray-50 py-3 px-4">
                            <a href="https://www.youtube.com/@sparkdotnet" class="flex" target="_blank">
                                <div class="">
                                    <div class="p-1 bg-red-600 rounded-lg mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-auto text-white"  viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M2.5 17a24.12 24.12 0 0 1 0-10 2 2 0 0 1 1.4-1.4 49.56 49.56 0 0 1 16.2 0A2 2 0 0 1 21.5 7a24.12 24.12 0 0 1 0 10 2 2 0 0 1-1.4 1.4 49.55 49.55 0 0 1-16.2 0A2 2 0 0 1 2.5 17"/><path d="m10 15 5-3-5-3z"/></svg>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-sm text-gray-800 font-bold mb-0.5">Spark Youtube</p>
                                    <p class="text-xs text-gray-500">Learn Spark.NET with screencasts.</p>
                                </div>
                            </a>
                        </li>
                        <li class="hover:bg-gray-50 py-3 px-4">
                            <a href="https://dotnetengine.com" class="flex" target="_blank">
                                <div class="">
                                    <div class="p-1 bg-blue-500 rounded-lg mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-auto text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242" /><path d="M12 12v9" /><path d="m16 16-4-4-4 4" /></svg>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-sm text-gray-800 font-bold mb-0.5">Dotnet Engine</p>
                                    <p class="text-xs text-gray-500">Coming soon...</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </button>
            <a href="/newsletter" class="text-sm sm:text-lg text-gray-700 font-medium mr-3 sm:mr-8 rounded-lg hover:text-gray-800 transition-colors ease-in-out duration-150 block">
                News
            </a>
            <a href="https://github.com/spark-dotnet/framework" target="_blank" rel="noreferrer nofollow" class="text-gray-700 hover:text-gray-800 transition-colors ease-in-out duration-150">
                <svg class="h-6 w-6 mr-3 sm:mr-4" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.925 0C5.366 0 0 5.366 0 11.925c0 5.218 3.429 9.69 8.199 11.33.596.149.745-.299.745-.597v-2.087c-3.28.746-4.025-1.49-4.025-1.49-.596-1.342-1.341-1.79-1.341-1.79-1.044-.744.149-.744.149-.744 1.192.149 1.789 1.192 1.789 1.192 1.043 1.938 2.832 1.342 3.428 1.044.15-.746.447-1.342.745-1.64-2.683-.298-5.366-1.342-5.366-5.963 0-1.341.447-2.385 1.193-3.13-.15-.298-.597-1.491.149-3.13 0 0 1.043-.299 3.28 1.192.894-.298 1.937-.447 2.98-.447 1.044 0 2.087.149 2.982.447 2.236-1.49 3.28-1.193 3.28-1.193.596 1.64.297 2.833.148 3.13.746.895 1.193 1.939 1.193 3.131 0 4.621-2.832 5.516-5.516 5.814.448.596.895 1.341.895 2.385v3.28c0 .297.149.745.894.596 4.77-1.64 8.199-6.112 8.199-11.33C23.85 5.366 18.485 0 11.925 0z" fill="currentColor"></path></svg>
            </a>
            <a href="https://discord.gg/TyxmQgvtDw" target="_blank" rel="noreferrer nofollow" class="text-gray-700 hover:text-gray-800 transition-colors ease-in-out duration-150">
                <svg class="h-7 w-7 fill-gray-700" fill="none" viewBox="0 -28.5 256 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" fill="#000000" stroke="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path d="M216.856339,16.5966031 C200.285002,8.84328665 182.566144,3.2084988 164.041564,0 C161.766523,4.11318106 159.108624,9.64549908 157.276099,14.0464379 C137.583995,11.0849896 118.072967,11.0849896 98.7430163,14.0464379 C96.9108417,9.64549908 94.1925838,4.11318106 91.8971895,0 C73.3526068,3.2084988 55.6133949,8.86399117 39.0420583,16.6376612 C5.61752293,67.146514 -3.4433191,116.400813 1.08711069,164.955721 C23.2560196,181.510915 44.7403634,191.567697 65.8621325,198.148576 C71.0772151,190.971126 75.7283628,183.341335 79.7352139,175.300261 C72.104019,172.400575 64.7949724,168.822202 57.8887866,164.667963 C59.7209612,163.310589 61.5131304,161.891452 63.2445898,160.431257 C105.36741,180.133187 151.134928,180.133187 192.754523,160.431257 C194.506336,161.891452 196.298154,163.310589 198.110326,164.667963 C191.183787,168.842556 183.854737,172.420929 176.223542,175.320965 C180.230393,183.341335 184.861538,190.991831 190.096624,198.16893 C211.238746,191.588051 232.743023,181.531619 254.911949,164.955721 C260.227747,108.668201 245.831087,59.8662432 216.856339,16.5966031 Z M85.4738752,135.09489 C72.8290281,135.09489 62.4592217,123.290155 62.4592217,108.914901 C62.4592217,94.5396472 72.607595,82.7145587 85.4738752,82.7145587 C98.3405064,82.7145587 108.709962,94.5189427 108.488529,108.914901 C108.508531,123.290155 98.3405064,135.09489 85.4738752,135.09489 Z M170.525237,135.09489 C157.88039,135.09489 147.510584,123.290155 147.510584,108.914901 C147.510584,94.5396472 157.658606,82.7145587 170.525237,82.7145587 C183.391518,82.7145587 193.761324,94.5189427 193.539891,108.914901 C193.539891,123.290155 183.391518,135.09489 170.525237,135.09489 Z" fill-rule="nonzero"> </path> </g> </g></svg>
            </a>
        </div>
    </div>
</nav>