<nav class="navbar bg-base-100 max-w-6xl mx-auto px-6 text-neutral">
    <div class="navbar-start space-x-2 w-3/4">
        <a class="inline-flex items-center" href="/">
            <div class="p-1 bg-accent rounded-lg mr-2">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="w-5 h-auto text-white"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-zap"
                    ><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"
                    ></polygon></svg
                >
            </div>
            <h3 class="text-xl font-medium text-neutral block">
                Spark.NET
            </h3>
        </a>
        <ul class="menu menu-horizontal px-1 font-medium text-base hidden sm:flex">
            <li><a href="/docs/introduction">Docs</a></li>
            <li>
                <details>
                    <summary> Ecosystem</summary>
                    <ul class="p-2 bg-[#f5eedc] w-56">
                        <li>
                            <a href="https://dotnetengine.com" target="_blank" class="flex rounded-md">
                                <div class="">
                                    <div class="p-1 bg-blue-500 rounded-lg mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-auto text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242" /><path d="M12 12v9" /><path d="m16 16-4-4-4 4" /></svg>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-sm text-neutral font-bold mb-0.5">Dotnet Engine</p>
                                    <p class="text-xs text-gray-500">Hosting and deploy .NET web apps</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="https://dotnet-jobs.com" target="_blank" class="flex rounded-md">
                                <div class="">
                                    <div class="p-1 bg-red-500 rounded-lg mr-2">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-auto text-white" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m19 5 3-3" /><path d="m2 22 3-3" /><path d="M6.3 20.3a2.4 2.4 0 0 0 3.4 0L12 18l-6-6-2.3 2.3a2.4 2.4 0 0 0 0 3.4Z" /><path d="M7.5 13.5 10 11" /><path d="M10.5 16.5 13 14" /><path d="m12 6 6 6 2.3-2.3a2.4 2.4 0 0 0 0-3.4l-2.6-2.6a2.4 2.4 0 0 0-3.4 0Z" /></svg>
                                    </div>
                                </div>
                                <div>
                                    <p class="text-sm text-neutral font-bold mb-0.5">Dotnet Jobs</p>
                                    <p class="text-xs text-gray-500">Find & post .NET developer jobs.</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </details>
            </li>
            <li><a href="/newsletter">News</a></li>
        </ul>
    </div>
    <div class="navbar-end space-x-2 w-1/4">
        <div class="space-x-3 hidden sm:inline-flex ">
            <a
            href="https://github.com/spark-dotnet/framework"
            target="_blank"
            rel="noreferrer nofollow"
            >
                <img
                    src="/github.min.svg"
                    class="h-5 w-5"
                    alt="Github"
                    width="24"
                    height="24"
                />
            </a>
            <a
                href="https://discord.gg/TyxmQgvtDw"
                target="_blank"
                rel="noreferrer nofollow"
            >
                <img
                    src="/discord.min.svg"
                    class="h-5 w-5"
                    alt="Github"
                    width="24"
                    height="24"
                />
            </a>
            <a
                href="https://www.youtube.com/@sparkdotnet"
                target="_blank"
                rel="noreferrer nofollow"
            >
                <img
                    src="/youtube.min.svg"
                    class="h-5 w-5"
                    alt="Github"
                    width="24"
                    height="24"
                />
            </a>
        </div>
        <button class="btn btn-square btn-ghost flex sm:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
        </button>
    </div>
</nav>
