<div class="w-full max-w-4xl lg:w-[75%] lg:px-6 mt-12">
    <div class="text-center text-smedium bg-gray-100 p-6 sm:p-12 rounded-lg">
        <p class="text-gray-700"><span class="font-bold text-gray-800">Stay up to date</span> with Spark on 
            <a href="https://twitter.com/wes_walke" target="_blank" class="text-accent hover:underline inline-block fill-accent">
                Twitter
            </a>
            or our
            <a href="/newsletter" class="text-accent hover:underline inline-block fill-accent">
                Newsletter
            </a>
        </p>
    </div>
</div>
